
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$broselowColors: (
    grey: #B8C2CC,
    pink: #F66D9B,
    red: #E3342F,
    purple: #9561E2,
    yellow: #FFED4A,
    white: #FFFFFF,
    blue: #3490DC,
    orange: #F6993F,
    green: #38C172
);

@each $bg-class, $bg-color in $broselowColors{
  .broselow-#{"" + $bg-class} {
    background-color: $bg-color;
  }
}

.table-green tbody tr:nth-child(2n+1) {
  background-color: #E3FCEC;
}

.table-green-2 tbody tr:nth-child(4n+1), .table-green-2 tbody tr:nth-child(4n+2) {
  background-color: #E3FCEC;
}

.table-red tbody tr:nth-child(2n+1) {
  background-color: #FCEBEA;
}

.table-red-2 tbody tr:nth-child(4n+1), .table-red-2 tbody tr:nth-child(4n+2) {
  background-color: #FCEBEA;
}

.table-blue-2 tbody tr:nth-child(4n+1), .table-blue-2 tbody tr:nth-child(4n+2) {
  background-color: #EFF8FF;
}

.table-orange tbody tr:nth-child(2n+1) {
  background-color: #FFF5EB;
}

.table-yellow-2 tbody tr:nth-child(4n+1), .table-yellow-2 tbody tr:nth-child(4n+2) {
  background-color: #FCFBEB;
}

.weight-selector {
  min-height: 280px;
}

.broselow-box {
  min-height: 50px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid rgb(250, 50, 50);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
  }
  blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }
